#bg{
	background-color: #eff3f6;
}


.login {
  background-color: #f7f7f7;
}

.login .title{
  color : #5c0008;
  font-family: rockwell;
  font-weight: bold;
  font-size: 40px;
  padding-top: 40%;
  padding-left: 5%;
}
.top-nav {
	background-color: #fee640;
	height: 50px;
}

.top-nav p{
	text-align: center;
	font-family: calibri;
	font-size: 30px;
}
.side{
	/*background-color: #414550;*/
	background-color:#414550!important;
	color: white!important;
}
#img-logo{
	width: 100%;
	height: 100%;
}
.logo-nav{
		padding: 10%;
}

.side .fa{
	font-size: 22px;
	color: #fde74d;
}
.bg{
	margin-left:20%;
}
.carousel .title{
  padding: 1%;
  text-align: center;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
}

.accounts .title{
  padding: 1%;
  text-align: center;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
}
.accounts .listaccounts{
  background-color: white;
  margin-right :25px;
  margin-left: 25px;]
  margin-top: 200px;
}
.upload-image{
	background-color: white;
	margin-right :25px;
	margin-left: 25px;]
	margin-top: 200px;
}
.carousel #choose-images{
  margin-top: 4%;
  background-color: #000000;
  text-align: center;
  font-size: 15px;
  width : 40%;
  float: right;
  font-family: Calibri;
  border-radius: 0px;
  color :#fee640;
  margin-right: 26px;
  margin-bottom: 5%;

}

.announcements .title{
	padding: 1%;
	text-align: center;
	margin-top: 35px;
	margin-left: 25px;
	margin-right: 25px;
	background-color: white;
}

.announcements .content{
	background-color: white;
	margin-right :25px;
	margin-left: 25px;
}

.announcements .content input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #eff3f6;
}

.announcements .content .message {
    width: 100%;
    height: 220px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #eff3f6;
    font-size: 16px;
    resize: none;
    position: relative;
    z-index: 999;
}

.announcements #choose-images{
  margin-top: 4%;
  background-color: #000000;
  text-align: center;
  font-size: 15px;
  width : 40%;
  float: right;
  font-family: Calibri;
  border-radius: 0px;
  color :#fee640;

  margin-bottom: 5%;

}